.container {
  display: flex;

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .root {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 36px;
      height: 36px;

      background-color: transparent;
      border-radius: 100%;

      &:focus-within:not([data-disabled]) {
        background-color: var(--color-dark-700);
      }

      &:hover:not([data-disabled]) {
        background-color: var(--color-dark-500);
      }

      &:active:not([data-disabled]) {
        background-color: var(--color-accent-900);
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 16px;
        height: 16px;
        padding: 0;

        background-color: transparent;
        border: 2px solid var(--color-accent-500);
        border-radius: 100%;

        &:disabled {
          border-color: var(--color-accent-900);
        }

        .indicator {
          position: relative;

          &::after {
            content: '';

            display: block;

            width: 8px;
            height: 8px;

            background-color: var(--color-accent-500);
            border-radius: 100%;
          }
        }
      }
    }

    .value {
      user-select: none;
    }
  }
}

.disabled {
  color: var(--color-light-900);

  &.indicator {
    position: relative;

    &::after {
      content: '';

      display: block;

      width: 8px;
      height: 8px;

      background-color: var(--color-accent-900);
      border-radius: 100%;
    }
  }
}
