.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;
  padding: 12px 10%;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-300);
  box-shadow:
    1px 1px 2px rgb(0 0 0 / 10%),
    -1px -1px 2px rgb(0 0 0 / 10%);
}

.dropDownMenu {
  display: flex;
  align-items: center;
}

.avatarButton {
  padding-left: 1.5rem;

  &:focus {
    border: none;
  }
}

.avatarImg {
  height: 2.2rem;
  width: 2.2rem;
}

.nickHeader {
  border-bottom: 1px dashed;
}
