.main {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.card {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px 29px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.text {
  margin-top: 20px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.button {
  margin-top: 65px;
}

.text2 {
  margin-top: 20px;
  color: var(--color-light-900);
  text-align: center;
}

.tryLoggingIn {
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-align: center;
}
