.cards {
  display: flex;
  flex-direction: column;
  padding: 3rem 10%;
  gap: 50px;

  .arrowBack {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
  }

  .isEmpty {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .isEmptyText {
      color: var(--color-dark-100);
    }
  }

  .delete {
    cursor: pointer;
    background: none;
    border: none;
  }

  .modalForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .modalButtonSection {
      display: flex;
      justify-content: space-between;
      height: 36px;
    }
  }
}
