@mixin button(
  $background,
  $activeBackground,
  $hoverBackground,
  $focusBackground,
  $disabledBackground
) {
  cursor: pointer;

  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  padding: 0.375rem 1.75rem;

  text-decoration: none;

  background: $background;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:active {
    background: $activeBackground;
  }

  &:hover {
    background: $hoverBackground;
  }

  &:focus {
    background: $focusBackground;
    border: 2px solid var(--info-700, #2f68cc);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    background: $disabledBackground;
  }
}

.primary {
  @include button(
    var(--color-accent-500),
    var(--color-accent-700),
    var(--color-accent-300),
    var(--color-accent-500),
    var(--color-accent-900)
  );
}

.secondary {
  @include button(
    var(--color-dark-300),
    var(--color-dark-500),
    var(--color-dark-100),
    var(--color-dark-300),
    var(-color-dark-300)
  );

  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);
}

.tertiary {
  @include button(none, var(--color-accent-900), var(--color-dark-500), none, none);

  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);
  box-shadow: none;

  &:active {
    border: 1px solid var(--color-accent-700);
  }
}

.link {
  background-color: yellow;
}

.fullWidth {
  width: 100%;
}
